.page-frame {
    /*Size*/
    width: 40%;
    height: 90%;

    /*Border*/
    border: solid #19ae19;
    border-radius: 1rem;

    /*Background*/
    background-color: #d6ff90;

    /*Content*/
    display: grid;
    align-content: stretch;
    grid-template-rows: 10% auto;
}

.page-title {
    text-align: center;
    align-content: center;
    color: #0f8c0f;
}